* {
    box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: white;
  background-color:#23252C;
}


#root {

    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A1B21;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--img {
    width: 100%
}

.about--name{
    border: 1px solid;  
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 6px;
}

.about--title{
    border: 1px solid;
    font-size: 12.8px;
    font-weight: 400;
    color: #CDCDCD;
    margin-top: 0px;
    margin-bottom: 8px;
}

.about--website{
    border: 1px solid;
    margin-top: 0;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 400;
    color: #F5F5F5;
}

.about--btns{
    display: flex;
    gap: 17px;
    margin-bottom: 20px;
}

.about--btn--white{
    width: 115px;
    height: 34px;
    gap: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
}

.about--btn--blue{
    height: 34px;
    width: 115px;
    gap: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5093E2;
    color: white;
    border: none;
}

.img-icon{
    width: 13px;
    background-color: white;
}

.about--btn--white--text{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.about--btn--blue--text{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 0;
}

.about {
    margin: 0 35px
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.content {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 300;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    border-top: #CDCDCD 1px solid;
    margin-top: 25px;
    padding: 5px;
    gap: 15px
}

.footer-img {
    width: 30px;
}